.footer {
    display: flex;
    justify-content: space-around;
    background-color:  rgb(65, 59, 59, 0.8);
    font-family: "Raleway", bold;
    font-size: 20px;
    color: white;
    height: 144px;
}

@media(max-width: 950px) {
    .footer {
        align-items: center;
    }
}

.container7 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

@media(max-width: 950px) {
    .container7 {
        flex-direction: column;
        flex: 1;
    }
}

.container9 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@media(max-width: 950px) {
    .container9 {
        text-align: center;
        margin: 0 auto;
    }
}

.container10 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 400px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@media(max-width: 950px) {
    .container10 {
        display: none;
        flex: 1;
    }
}

.container11 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width: 950px) {
    .container11 {
        display: none;
    }
}

a {
    color: white;
}

a:hover {
    font-weight: bold;
    color: #9F0908;
}

.atf-image5 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
    object-fit: contain;
}