footer{
  padding: 20px 100px;
  background-color:  rgba(65, 59, 59, 0.8);
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
footer a{
  text-decoration: none;
  color: white;
  
  
}
footer a:hover{
  color: #008000;
  transition: 125ms;
}

.footersection{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footerlink{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#logofooter{
  width: 350px;
  height: auto;
}
.social img{
  width: 36px;
  height: 36px;
}
.social{
  display: flex;
  gap: 24px;
}




@media (max-width: 1000px){
  footer{
    padding: 20px 100px;
    background-color:  rgba(0, 0, 0, 0.4);
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .footerlink{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  
  #logofooter{
    width: 250px;
    height: auto;
  }
  .social img{
    width: 28px;
    height: 28px;
  }
}


@media (max-width: 770px){
  footer{
    padding: 20px 20px;
    background-color:  rgba(0, 0, 0, 0.4);
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .footerlink{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  #logofooter{
    width: 150px;
    height: auto;
  }
  .social img{
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 500px){
  footer{
    padding: 10px 20px;
    background-color:  rgba(0, 0, 0, 0.4);
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .footerlink{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  #logofooter{
    display: none;
  }
  .social img{
    padding-top: 16px;
    width: 24px;
    height: 24px;
  }
}